* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

div,
p {
  display: block;
}

article,
header,
section,
footer {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 4rem 0;
}

section {
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}
@media (max-width: 1199px) {
  .container {
    max-width: 83.3333333333%;
  }
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: #444;
}

p {
  color: #f95;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
}

h1 {
  color: #f95;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3.5rem;
  margin-top: 3rem;
}

h2 {
  color: #999;
  font-size: 2.5rem;
}

h3 {
  color: rgb(123, 50, 50);
  font-size: 1.5rem;
}

header {
  background-color: #ddd;
}

footer {
  background-color: #706f6f;
}

.blocks {
  padding: 3rem 0;
}
.blocks__title {
  color: #f95;
}
.blocks__list {
  list-style-type: none;
  font-size: 1.2rem;
  display: block;
  float: left;
  height: auto;
  margin: 1.5rem auto;
  padding: 1rem 0;
  width: 100%;
}
.blocks__item {
  color: #999;
  display: block;
  margin: 1.5rem 0.75rem;
  text-align: center;
  width: calc(31.6666666667% - 15px);
}
@media (max-width: 999px) {
  .blocks__item {
    width: calc(99% - 30px);
  }
}
.blocks__img-container {
  display: block;
  height: 15rem;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 999px) {
  .blocks__img-container {
    height: 20rem;
  }
}
.blocks__description {
  color: #444;
  font-size: 1.5rem;
  padding: 1.5rem;
}
.blocks__description--destack {
  color: #999;
  padding: 1.5rem;
}
.blocks__button {
  background-color: #f95;
  border-radius: 5px;
  color: white;
  display: block;
  font-size: 2.5rem;
  margin: 3rem auto 1.5rem;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
}
.blocks__button:hover {
  background-color: rgb(123, 50, 50);
}

.blocks {
  padding: 3rem 0;
}
.blocks__title {
  color: #f95;
}
.blocks__list {
  list-style-type: none;
  font-size: 1.2rem;
  display: block;
  float: left;
  height: auto;
  margin: 1.5rem auto;
  padding: 1rem 0;
  width: 100%;
}
.blocks__item {
  color: #999;
  display: block;
  margin: 1.5rem 0.75rem;
  text-align: center;
  width: calc(31.6666666667% - 15px);
}
@media (max-width: 999px) {
  .blocks__item {
    width: calc(99% - 30px);
  }
}
.blocks__img-container {
  display: block;
  height: 15rem;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 999px) {
  .blocks__img-container {
    height: 20rem;
  }
}
.blocks__description {
  color: #444;
  font-size: 1.5rem;
  padding: 1.5rem;
}
.blocks__description--destack {
  color: #999;
  padding: 1.5rem;
}
.blocks__button {
  background-color: #f95;
  border-radius: 5px;
  color: white;
  display: block;
  font-size: 2.5rem;
  margin: 3rem auto 1.5rem;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
}
.blocks__button:hover {
  background-color: rgb(123, 50, 50);
}

.cars__title {
  color: #444;
}
.cars__item {
  border: 2px solid #444;
  background-color: #ddd;
  color: #706f6f;
  display: flex;
  float: left;
  height: max-content;
  justify-content: center;
  align-items: baseline;
  flex-flow: column;
}
.cars__item--destack {
  border: 2px solid #f95;
  background-color: #706f6f;
}
.cars__item__button {
  background-color: #444;
}

.destack {
  background-color: #706f6f;
  padding: 1.5rem;
}
.destack__title {
  color: rgb(123, 50, 50);
  float: left;
  font-size: 3.5rem;
  margin-top: 0;
}
.destack__subtitle {
  float: left;
  font-size: 1.2rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}
.destack__image {
  width: 100%;
  height: auto;
  margin: 1.5rem auto;
}
.destack__description {
  font-size: 1.5rem;
  color: #f95;
  padding: 2rem 0;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
