@mixin theme($theme: $color-01, $bg: $color-04) {
    border: 2px solid $theme;
    background-color: $bg; // pega variável acima
}

.cars {
    h2 {
        color: $color-default;
    }
    .destacks {
        @include theme;
    }
    li {
        @include theme($theme: $color-default, $bg: $bg-color); // pode-se até mudar as variáveis e os estilos do theme
        color: $color-04;
        display: flex;
        float: left;
        height: max-content;
        justify-content: center;
        align-items: baseline;
        flex-flow: column;

        a {
            background-color: $color-default;
        }
    }
}